.keyboard {
  display: grid;
  grid-template-columns: repeat(7, 1fr); 
  gap: 10px; /* Adjust the gap between buttons as needed */
}
.button{
  width: 100%;
  aspect-ratio: 1/1;
  font-size: 1.5rem;
  font-weight: 500;
  border: none;
  border-radius: 15px;
  background-color: #6a994e;
  color: white;
  cursor: pointer;
  padding: 15px 25px;
}
.button:hover:not(:disabled){
  transform: scale(1.1);
}
.button:active:not(:disabled){
  background-color: white;
  color: #6a994e;
  border: #6a994e .2rem solid;
}
.button.inactive{
  opacity: 0.2;
}
.button.active{
  opacity: 0.2;
  background-color: white;
  color: #6a994e;
  border: #6a994e .2rem solid;
}